<div id="sql"> <!-- Start of 'SQLite' section. -->
  <h3>SQLite</h3>

  <p>
    SQL is a specialized programming language used with databases.  We
    use a simple database manager called
    <a href="http://www.sqlite.org/">SQLite</a> in our lessons.
    We will use <a href="https://addons.mozilla.org/en-us/firefox/addon/sqlite-manager/">SQLite Manager</a> 
    plugin for <a href="">Firefox</a>. If you don't have Firefox installed, you need to install it first and
    then you will be able to add the plugin.
  </p>
  <h4>Detailed Instructions</h4>
<ol>
  <li>Install Firefox</li>
  <li>Install the SQLite Manager add on: <strong>Menu (the three horizontal lines near the
top right corner of Firefox) -&gt; Add-ons -&gt; Search -&gt; SQLite
Manager -&gt; Install -&gt; Restart now</strong></li>
  <li>Add SQLite Manager to the menu: <strong>Menu -&gt; Customize, then drag the SQLite
Manager icon to one of the empty menu squares on the right, Exit Customize</strong></li>
  <li>Open SQLite Manager: <strong>Menu -&gt; SQLite Manager</strong></li>
</ol>
  <p>
  </p>

<!--
  <div class="row">
    <div class="col-md-4">
      <h4 id="sql-windows">Windows</h4>
      <p>

      </p>
    </div>
    <div class="col-md-4">
      <h4 id="sql-macosx">Mac OS X</h4>
      <p>
        SQLite comes pre-installed on Mac OS X.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="sql-linux">Linux</h4>
      <p>
        SQLite comes pre-installed on Linux.
      </p>
    </div>
  </div>
-->
</div> 
